################################
# ===== Python =====
################################

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/

# 环境变量
/multi_echo/.env.multi_echo

# 本地数据库
*.db

# 本地数据目录
data/

################################
# ===== IDE =====
################################

.idea/
.vscode/
.vs/

################################
# ===== .NET =====
################################

Launcher/bin/
Launcher/obj/

################################
# ===== Build Output =====
################################

build/